<a class="brand" href="#">Solace</a>
<i class="loading" ng-show="loading"></i>

<div class="error slide ng-hide" ng-show="showError">
    <div class="error-inner error-danger">
        <button type="button" class="close" ng-click="closeError()">&times;</button>
        <strong>Oops!</strong> {{ errorMessage }}
    </div>
</div>

<form class="navbar-form navbar-right" role="search">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" ng-click="logout()">
            {{ session.userid }} <span class="caret"></span>
        </button>
    </div>
</form>

