<div class="error slide ng-hide" ng-show="error.show">
    <div class="error-inner error-danger">
        <button type="button" class="close" ng-click="error.show = false">&times;</button>
        <strong>Oops!</strong> {{ error.message }}
    </div>
</div>

<div class="navbar-header">
    <a class="navbar-brand" href="#">Solace</a>
</div>

<ul class="nav navbar-nav">
    <li ng-repeat="item in menuitems" ng-class="item.active">
        <a href="{{ item.link }}"><span ng-class="item.icon"></span> {{ item.title }}</a>
    </li>
</ul>

<i class="navbar-loading" ng-show="loading"></i>

<form class="navbar-form navbar-right" ng-show="user">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" ng-click="userDropdown = !userDropdown">
            {{ user.username }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-show="userDropdown">
            <li><a href="" ng-click="logout(); userDropdown=false">Logout</a></li>
        </ul>
    </div>
</form>

<div class="navbar-progress" ng-show="progress" style="width: {{ progress * 100 }}%;"></div>